{% extends "base.html" %}
  {% block head %} <title>Code Entry Field</title> {% endblock %}

  {% block body %}
    <div class="container">
      <h1>Code Entry Field</h1>
      <form method="post" action="{{ url_for('run_code') }}">
        <div class="form-group">
          <label for="code">Enter your code here:</label>
          <textarea class="form-control" id="code" name="code" rows="10">{{ code }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Run</button>
      </form>
    </div>
    {% if code %}
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Code verdict
            </button>
          </h4>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% if err %}
                <strong>Error</strong><br>{{ err }}
              {% else %}
                <strong>Success</strong><br>{{ out }}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}


  </body>
</html>