{% extends "base.html" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ theme }}</h1>
    <p>{{ description }}</p>
    {% if data %}
    <table class="table">
      <thead>
        <tr>
          <th>Номер задачи</th>
          <th>Название задачи</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(data|length) %}
        <tr>
          <td>{{ i + 1 }}</td>
          <td><a href="task?task_id={{ data[i].glob_id }}">{{ data[i].task }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock %}