{% extends "base.html" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ topic }}</h1>
    <p>{{ description }}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Номер задачи</th>
          <th>Название задачи</th>
          <th>Условие задачи</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Количество способов разменять монеты</td>
          <td>Дано n монет достоинством a1, a2, ..., an и число k. Найти количество способов разменять k рублей на монеты данного достоинства.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Минимальная стоимость достижения клетки</td>
          <td>Дана прямоугольная сетка размера n x m, каждая клетка которой имеет свою стоимость. Необходимо найти минимальную стоимость достижения клетки (n, m) из клетки (1, 1), с условием, что перемещаться можно только вправо и вниз.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Количество маршрутов в сетке</td>
          <td>Дана сетка размера n x m. Необходимо найти количество маршрутов из клетки (1, 1) в клетку (n, m), с условием, что перемещаться можно только вправо и вниз.</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}